
body{
    background-color : #7ac6ce56;
  }

  hr{
    border-color: grey;
    border-style: dotted none none;
    border-width: 3px;

    /* width: 5%; */
  }
  
h1,h2{
    color: peru;
}

/* .pvt{
  color: blueviolet;
}

.hs{
  color: #22e038f2;
} */

/* a{
  text-emphasis-color: black;
}

.link{
text-decoration-color: aqua;
text-align: center;
} */

img:hover{
background-color: gold;
}